table, td, th {
      border: 1px solid black;
    }
    body {
      background-color: black;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow-x: hidden;
    }
    html {
      height: 100%;
    }
    hr {
      margin-top: 15px;
      margin-bottom: 0px;
      background: #006400;
      border: 0;
      outline: dashed;
      border-bottom: 1px dashed #006400;
    }
    hr#sep1 {
      margin-top: 16px;
      margin-bottom: -10px;
      background: yellow;
      border: 0;
      outline: dashed;
      border-bottom: 1px dashed #006400;
    }
    .ui-dialog-title{
      text-align: center;
    }
    .btn-success {
      color: #fff;
      background-color: #28a74538;
      border-color: #28a745;
    }
    @media (min-width: 768px)
    .container {
      max-width: 100%;
    }
    .container {
      max-width: 100%;
    }
    #debugDiv {height: 100px; width: 100%; border: 1px solid #333; overflow:scroll;}
    @import url(https://fonts.googleapis.com/css?family=Khula:700);
    .hidden {
      opacity:0;
    }
    .console-container {
      font-family:Khula;
      font-size:4em;
      text-align:center;
      width:100%;
      display:block;
      color:white;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
    }
    .console-underscore {
     display:inline-block;
     position:relative;
     top:-0.14em;
     left:10px;
   }